{% extends "mainApp/index.html" %}

{% load static %}
{% block content %}

<div>
   <span>Добавить текст</span>
   <input id="pagenikita1" type="text" val="Текст">
   <button id="pagenikita">Страница 1</button><br><br>
</div>
<span id="nikitatest1"></span>

<!-- <div class="chatpx">
   <div class="nikchat">
      <div class="messagefield">
         <span class="mastextone">Привет!</span>
         <span class="mastexttwo">Привет!</span>
         <span class="mastextone">Как дела?</span>
         <span class="mastexttwo">Все хорошо! Ты как?</span>
      </div>
      <div class="inputfield">
         <input type="text">
         <div class="btnmessage">
            <img src="{% static 'img/messageimg.png' %}" alt="">
         </div>
      </div>
   </div>
</div> -->

{% endblock %}