{% extends "mainApp/index.html" %}

{% load static %}
{% block content %}

<div class="adminprofile-px">
   <div class="adminprofile">
      <span class="addproduct-title">Добавить товар</span>
      <div class="addproduct">
         <form action="">

         </form>
      </div>
      <span>Поступление заказов</span>
      <div class="orderinprogress border-nik SAProf">
         <div class="ordercolumn"></div>
      </div>
      <span>История всех заказов в системе</span>
      <div class="orderhistoryalladmin border-nik SAProf">
         <div class="ordercolumnhistory"></div>
      </div>
   </div>
</div>
{% endblock %}